.field {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90px;

  &__title{
    //margin-bottom: ;
  }

  &__input {
    margin: 8px 0;
    width: 336px;
    padding: 16px;
    border-radius: 8px;
    border: 1px solid #CCC;
  }
}